.parallax-wrapper {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 90vh;
    transform-style: preserve-3d;
}

.parallax-text {
    position: relative;
    top: 20vh;
    font-size: 30pt;
    color: rgb(216, 174, 97);
}

.parallax-wrapper::before {
    content: "";
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-image: url('/assets/computer-repair.jpg');
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: -1;
    transform: translateZ(-1px) scale(2);
}

.home-titles {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgba(52, 77, 122, .6);
}

.home-title {
    color: white;
    margin: 10px;
}

#home {
    position: relative;
    /* padding: 20px; */
    width: 100vw;
    z-index: 2;
}

.home-text-box {
    width: 40%;
    max-width: 300px;
    margin: 20px;
    background-color: white;
    display: inline-block;
    border-radius: 5px 0px;
}

.icon {
    margin: 10px auto;
    width: 80%;
}

@media screen and (max-width: 600px) {
    .home-text-box {
        width: 90%;
    }

    .parallax-text {
        top: 10vh;
        font-size: 25pt;
    }

    .number {
        font-size: 40pt;
    }
}

@media screen and (max-device-width: 500px) {
    .home-text-box {
        width: 90%;
    }
}