.about {
    width: 100%;
    max-width: 800px;
    margin: auto;
}
.profiles {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image-container {
    position: relative;
    width: 40%;
}

.profile-text {
    width: 40%;
    background-color: #d8ae61;
    border-radius: 0px 5px 0px 0px;
}

.profile-image {
    width: 100%;
    border-radius: 0px 5px;
}

.image-text {
    color: white;
    position: absolute;
    font-size: 30pt;
    left: 0;
    right: 0;
    bottom: 0;
}

@media screen and (max-width: 600px){
   .profile-image-container, .profile-text{
       width: 100%;
       border-radius: unset;
   }

   .profiles {
       flex-direction: column;
   }
}

@media screen and (max-device-width: 500px){
    .profile-image-container, .profile-text{
        width: 100%;
        border-radius: unset;
    }
 
    .profiles {
        flex-direction: column;
    }
 }
