/* Nav */
nav {
    position: sticky;
    display: flex;
    justify-content: center;
    top: 0;
    z-index: 100;
    color: white;
    background-color: white;
    border-bottom: 3px solid rgb(216, 174, 97);
}

.nav-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 800px;
    height: 100px;
}

.home-button {
    position: absolute;
    cursor: pointer;
    z-index: 1;
    left: 10px;
    height: 50px;
    width: 30vw;
    max-width: 200px;
    min-width: 150px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.phone {
    position: absolute;
    bottom: 0;
    left: 10px;
    color: rgb(25, 80, 170);
    font-size: 0pt;
    font-weight: bold;
}

.call {
    font-size: 20pt;
}

.shiftUp {
    top: 0px;
}

.hamburger-icon {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    font-size: 30pt;
    right: 20px;
}

.nav-wrap {
    position: absolute;
    overflow: hidden;
    height: 0px;
    width: 100%;
    margin: auto;
    top: 103px;
    background-color: rgb(52, 77, 122);
}

.nav-button {
    position: relative;
    font-size: 15pt;
    margin: 30px;
    cursor: pointer;
}

.nav-button:hover, .active {
    color: rgb(216, 174, 97);
}

.visible {
    height: 300px;
}

.bar {
    position: relative;
    background-color:rgb(25, 80, 170);
    width: 100%;
    margin: 5px;
    height: 10%;
}

#top, #bottom {
    transition: all .5s
}

.tilt {
    top: 20%;
    transform: rotate(45deg);
}

.fade {
    opacity: 0;
}

.untilt {
    bottom: 35%;
    transform: rotate(-45deg);
}


@media screen and (min-width: 500px) and (min-device-width: 500px){

    .hamburger-icon {
        display: none;
    }

    .nav-wrap {
        display: block;
        height: 100px;
        top: 0;
        color: rgb(25, 80, 170);
        background-color: white;
    }
    .nav-button {
        float: right;
        margin: 12px;
        top: 25px;
    }
}

@media screen and (max-width: 500px) {
    .hamburger-icon {
        width: 30px;
        height: 30px;
    }
    
    .nav-wrap {
        height: 0px;
        top: 100px;
        transition: all .5s;
    }
    
    .nav-button {
        font-size: 20pt;
        margin: 20px;
    }

    .visible {
        height: 240px;
    }

    .call {
        left: 180px;
        bottom: 6px;
    }

}

@media screen and (max-device-width: 500px) {
    .nav-container {
        height: 80px;
        top: 0;
        border-bottom: 10px solid rgb(216, 174, 97);
    }
    
    .hamburger-icon {
        width: 40px;
        height: 40px;
        bottom: 0px;
    }
    
    .nav-wrap {
        height: 0px;
        top: 80px;
        transition: all .5s;
    }
    
    .nav-button {
        font-size: 25pt;
        margin: 30px;
    }

    .visible {
        height: 340px;
    }

    .untilt {
        bottom: 25%;
    }

    .call {
        left: 5px;
        bottom: 0px;
    }
}
/* Nav End */